# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vibe
.windsurf
.zencoder
.adal
.agents
.augment
.bob
.claude
.codebuddly
.commandocode
.continue
.cortex
.crush
.factory
.goose
.iflow
.junie
.kilocode
.kiro
.mcpjam
.mux
.neovate
.openhands
.pi
.pochi
.qoder
.qwen
.roo
.trae
.codebuddy 
.commandcode
.kode
skills

# Build and temporary files
*.tsbuildinfo
.env
.env.local
.npmrc
.node_repl_history
